:root {
    --link-size: 2rem;
    --trans: all 0.3s ease;
}
body {
    margin: 0;
    padding: 0;
    background-color: #141414;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    min-height: 100vh;
}

#particles-js {
    display: flex;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    position:fixed;
}

.container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;    
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.social {
    display: flex;
    width: var(--link-size);
    height: var(--link-size);
    background-color: white;
    border-radius: 50%;
}

.social i {
    margin: auto;
    font-size: 1rem;
    color: #67798e;
    z-index: 1;
    transition: var(--trans);
}