:root {
    --color-princp: #d4052b;
}

html,
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141414;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    position: relative;
}

.input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 185px;
    border: none;
    border-bottom: 1px solid #6c6c6c;
    background: transparent;
    color: #fff;
}
.input:focus {
    outline: none;
}

label {
    color: #9999;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 15px;
    transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
}
.input:focus ~ label,
.input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: var(--color-princp);
}

.bar {
    position: relative;
    display: block;
    width: 200px;
}
.bar::before,
.bar::after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: var(--color-princp);
    transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
}
.bar::before {
    left: 50%;
}
.bar::after {
    right: 50%;
}
.input:focus ~ .bar::before,
.input:focus ~ .bar::after {
    width: 50%;
}
.highlight {
    position: absolute;
    height: 60%;
    width: 0px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}
.input:focus ~ .highlight {
    animation: input-focus 0.5s ease;
}

@keyframes input-focus {
    from {
        background: var(--color-princp);
    }
    to {
        width: 185px;
        background: transparent;
    }
}